@import url('https://fonts.googleapis.com/css?family=Domine|Open+Sans:400,400i,600,600i,700');

body {
  margin: 0;
  padding-top: 56px;
  color: black;
  font-family: 'Open sans', serif;
  /* position: relative; */
}

h1, h2 {
  font-family: 'domine', serif; 
}

h1 {
  font-size: 3.5em;
}

.bg-color {
  background-color: rgb(29, 29, 29);
  color: white
}

.card {
  color: initial;
}

span {
  font-weight: bold;
  font-size: 1.2em;
}

.mail {
  font-size: 0.8em;
}

a {
  font-style: inherit;
  color: inherit;
}

header {
  justify-content: center;
  align-self: center;
  flex-direction: column;
  background-attachment: fixed;
  height: 92vh;
  background-image: url(img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  box-shadow: inset 0px 0px 100px 900px rgba(0,0,0,0.7);
  /* box-shadow: inset -56px 107px 0px 500px rgba(0,0,0,0.68); */
}

section {
  padding: 50px 0% 50px 0%; 
  /* margin: 50px 0% 50px 0; */
}

hr {
  width: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 4px solid blueviolet;
}

#home span {
  font-size: 1.4em;
}

.fab, .fas{
  font-size: 350%;
}

section .row{
  margin: 1.2rem;
}

img {
  padding: 0.6rem;
  /* height: 30vh; */
}

.btn {
  background-color: blueviolet;
  color: white
}

.btn:hover {
  background-color: rgb(118, 36, 194);
  color: white;
}

i {
  color: blueviolet;
}

#aboutMe div {
  font-size: 1.3em;
  text-align: justify;
  padding: 5%;
}

#contact i{
  font-size: 180%;
  color: rgb(137, 54, 214);
}

#proyects i {
  color: white;
  font-size: 130%;
  margin-right: 5px; 
}

.card-body {
  padding: 0 0.5rem 1rem;
}

.p-center {
  text-align: left;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .mail {
    font-size: initial;
  }
}

@media screen and (min-width: 768px) {

  h1 {
    font-size: 5em;
  }

  .acuarela {
    background: url(img/acuarela.jpg);
    background-repeat: no-repeat;
    background-position: 100%;
  }

  #home span {
    font-size: 1.8em;
  }

  #aboutMe div {
    padding: 2% 20% 5% 20%;
  }

  /* img {
    height: 35vh;
  } */
}

/* @media screen and (max-width: 800px) {
  .acuarela {
    background: url(img/acuarela.png);
    background-repeat: no-repeat;
    /* background-rotate: 50%; */


    /* background-position: 100%; */
    /* background-size: cover; */
  /* }
}  */
