body {
  margin: 0;
  padding-top: 51px;
  /* background-color: (248, 248, 248); */
}

.bg-color {
  background-color: rgb(29, 29, 29);
  color: white
}

span {
  font-weight: bold
}

/* h1 h4 {
  font-size: 300%;
} */

a {
  font-style: inherit;
  color: inherit;
}

/* a :active{
  color: blueviolet;
} */

header {
  text-shadow: black;
  /* text-align: center; */
  padding: 20% 0% 20% 0%;
  /* position: absolute; */
  /* background: rgba(255, 255, 255, 0.61); */
  background-image: url(img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  box-shadow: inset 0px 0px 100px 900px rgba(0,0,0,0.7);
  /* box-shadow: inset -56px 107px 0px 500px rgba(0,0,0,0.68); */
}

section {
  padding: 50px 0% 50px 0%; 
}

#home span {
  font-size: 130%;
}

.fab, .fas{
  font-size: 350%;
}

section .row{
  margin: 0;
}

img {
  padding: 1%;
  width: 100%;
}

.acuarela {
  background: url(img/acuarela.jpg);
  background-repeat: no-repeat;
  background-position: 100%;
  /* background-size: cover; */
}

.btn {
  background-color: blueviolet;
  color: white
}

i {
  color: blueviolet;

  /* border-color: blueviolet; */
}

#aboutMe div {
 font-size: 150%;
 text-align: justify;
 padding: 5% 20% 5% 5%;
 /* border-left: 3px solid rgb(152, 48, 248); */
  /* margin-top: 50%; */
}

#contact i{
  color: rgb(137, 54, 214);
}

.pad-border {
  margin: 1%;
  padding: 2%;
  word-wrap: break-word;
  /* background-color: rgba(0, 0, 0, 0.233); */
}

@media screen and (max-width: 425px) {
  #aboutMe div {
    font-size: 130%;
    text-align: justify;
    padding: 3.5%;
    /* border-left: 3px solid rgb(152, 48, 248); */
     /* margin-top: 50%; */
   }
}

/* @media screen and (max-width: 800px) {
  .acuarela {
    background: url(img/acuarela.png);
    background-repeat: no-repeat;
    /* background-rotate: 50%; */


    /* background-position: 100%; */
    /* background-size: cover; */
  /* }
}  */
