@import url('https://fonts.googleapis.com/css?family=Domine|Open+Sans:400,400i,600,600i,700');

body {
  margin: 0;
  padding-top: 51px;
  color: black;
  font-family: 'Open sans', serif;
}

h1, h2 {
  font-family: 'domine', serif; 
}

h1 {
  font-size: 5em;
}

.bg-color {
  background-color: rgb(29, 29, 29);
  color: white
}

span {
  font-weight: bold;
  font-size: 1.2em;
}

.mail {
  font-size: 1.1em;
}

a {
  font-style: inherit;
  color: inherit;
}

header {
  /* text-shadow: black; */
  padding: 19% 0% 19% 0%;
  background-image: url(img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  box-shadow: inset 0px 0px 100px 900px rgba(0,0,0,0.7);
  /* box-shadow: inset -56px 107px 0px 500px rgba(0,0,0,0.68); */
}

section {
  padding: 50px 0% 50px 0%; 
}

hr {
  width: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 4px solid blueviolet;
}

#home span {
  font-size: 1.8em;
}

.fab, .fas{
  font-size: 350%;
}

section .row{
  margin: 30px 0px 50px 0px;
}

img {
  padding: 1%;
  width: 100%;
}

.acuarela {
  background: url(img/acuarela.jpg);
  background-repeat: no-repeat;
  background-position: 100%;
}

.btn {
  background-color: blueviolet;
  color: white
}

i {
  color: blueviolet;
}

#aboutMe div {
  font-size: 1.3em;
  text-align: justify;
  padding: 2% 20% 5% 20%;
}

#contact i{
  color: rgb(137, 54, 214);
}

#proyects i {
  color: initial;
  font-size: 130%;
  margin-right: 5px; 
}

.pad-border {
  margin: 1.5%;
  padding: 3%;
  word-wrap: break-word;
}

@media screen and (max-width: 516px) {

  h1 {
    font-size: 3.5em;
  }

  .acuarela {
    background: none;
    /* background-repeat: no-repeat;
    background-position: 100%; */
  }

  #home span {
    font-size: 1.4em;
  }

  #aboutMe div {
    padding: 5%;
    /* border-left: 3px solid rgb(152, 48, 248); */
     /* margin-top: 50%; */
   }
}

/* @media screen and (max-width: 800px) {
  .acuarela {
    background: url(img/acuarela.png);
    background-repeat: no-repeat;
    /* background-rotate: 50%; */


    /* background-position: 100%; */
    /* background-size: cover; */
  /* }
}  */
