html {
	font-family: "Open sans", serif;
}

:root {
	--accent: 136, 58, 234;
	--accent-light: 224, 204, 250;
	--accent-dark: 49, 10, 101;
	--accent-gradient: linear-gradient(45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%);
	--purple: blueviolet;
}

.text-domine {
	font-family: "domine", serif;
}

.title-line {
	width: 50px;
	border-top: 4px solid var(--purple);
	margin: 0 auto;
	opacity: 1;
}

.bg-color {
	background-color: rgb(29, 29, 29);
}

.icon-lg {
	font-size: 3.5em;
	width: 56px;
}

.icon-md {
	font-size: 2rem;
	width: 32px;
}

.btn-purple {
	background-color: var(--purple);
	width: 115px;
}

.btn-purple:hover {
	opacity: 1;
	background-color: var(--purple);
}

i {
	color: var(--purple);
}

span {
	font-weight: bold;
	font-size: 1.2rem;
}

.mail {
	font-size: 0.8em;
}

a,
a:hover {
	color: inherit;
	text-decoration: inherit;
}

.nav-link.active::after {
	display: block;
	content: "";
	border-bottom: 2px solid var(--purple);
}

@media screen and (min-width: 375px) {
	.mail {
		font-size: initial;
	}
}

@media screen and (min-width: 576px) {
	.text-about-me {
		font-size: 1.25em;
	}
}

@media screen and (min-width: 768px) {
	.title {
		font-size: 5em;
	}

	.decoration {
		background-image: url("../img/acuarela9.webp");
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: cover;
	}

	.home span {
		font-size: 1.8em;
	}

	.description {
		font-size: 1.25em;
		padding: 0 15%;
	}
}

@media screen and (min-width: 992px) {
	.text-about-me {
		font-size: 1.3rem;
	}
}