	:root {
		--bg-color: #1d1d1d;
		--accent-color: #b760e6;
		--text-main: #e0e0e0;
		--text-muted: #8a8a8a;
		--font-title: "Domine", serif;
		--font-body: "Open Sans", sans-serif;
	}

	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	body {
		background-color: var(--bg-color);
		color: var(--text-main);
		font-family: var(--font-body);
		overflow: hidden; /* Importante para la experiencia 3D */
		width: 100vw;
		height: 100vh;
	}

	body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

	h1,
	h2,
	h3 {
		font-family: var(--font-title);
		font-weight: 700;
	}

	/* Utilidad para ocultar scrollbars pero permitir scroll si es necesario en contenido */
	.hide-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.hide-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}