<section id="about-me" class="decoration text-center pt-5 pb-4">
  <h2 class="mt-4 text-domine">Sobre mí</h2>
  <hr class="title-line" />
  <div class="container mt-4 pb-5 text-justify text-about-me px-lg-5">
    <div class="mx-lg-5 px-lg-5">
      Geek apasionada por los videojuegos. Me encanta aprender y descubrir
      diferentes tecnologías. Mi primer acercamiento con el mundo tech fue a los
      tres años, cuando descubrí las consolas y los juegos de computadora. Hoy
      en día soy Front-end Developer y aspiro a ser full-stack developer para
      desarrollar nuevos e innovadores productos que ayuden a mejorar la calidad
      de vida de las personas.
      <br /> En mi tiempo libre, disfruto escuchar música, cantar, ver películas,
      además jugar videojuegos, hacer origami y armar cubos de Rubik.
    </div>
  </div>
</section>

<style>
  
</style>
