<section id="sobre-mi" class="decoration text-center pt-5 pb-4">
  <h2 class="mt-4 text-domine">Sobre mí</h2>
  <hr class="title-line" />
  <div class="container mt-4 pb-5 text-justify text-about-me px-lg-5">
    <div class="mx-lg-5 px-lg-5">
      Soy desarrolladora frontend con interés en construir productos digitales
      que sean útiles, intuitivos y visualmente claros. Me motiva transformar
      ideas en interfaces funcionales que realmente aporten valor a las personas
      que las usan.
      <br />
      Disfruto trabajar en equipo, entender el problema antes de escribir código y
      cuidar los detalles tanto técnicos como visuales. Tengo experiencia desarrollando
      aplicaciones web con React y JavaScript, integrando APIs y aplicando principios
      básicos de UX.
      <br />
      Actualmente busco seguir creciendo en proyectos digitales donde pueda aportar
      desde el frontend, aprender continuamente y colaborar en la creación de productos
      bien pensados.
    </div>
  </div>
</section>
