<section
  id="home"
  class="home d-flex text-center align-items-center flex-column justify-content-center text-white"
>
  <h1 class="text-domine title">Mely Hidalgo</h1>
  <span>Front-end Developer</span>
</section>

<style>
  .home {
    background-attachment: fixed;
    height: 100vh;
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 100px 900px rgba(0, 0, 0, 0.7);
    background-position: center;
  }

  .home span {
    font-size: 1.4em;
  }

  .title {
    font-size: 3.5em;
  }
</style>
