<nav
  class="navbar navbar-expand-sm navbar-dark bg-base p-2 w-100"
  role="navigation"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#inicio"></a>
    <button
      class="navbar-toggler"
      id="menu"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-hide"
      aria-controls="navbar-hide"
      aria-expanded="true"
      aria-label="Barra de navegación"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-hide">
      <div class="navbar-nav justify-content-around w-100">
        <a class="nav-item nav-link scroll-link" href="#inicio">Inicio</a>
        <a class="nav-item nav-link scroll-link" href="#sobre-mi">Sobre mí</a>
        <a class="nav-item nav-link scroll-link" href="#proyectos">Proyectos</a>
        <a class="nav-item nav-link scroll-link" href="#habilidades">Habilidades</a>
        <a class="nav-item nav-link scroll-link" href="#contacto">Contacto</a>
      </div>
    </div>
  </div>
</nav>

<style>
  .navbar {
    position: fixed;
    z-index: 99;
  }
</style>
