---
interface Props {
  skillsList: Array<object>;
}

const { skillsList } = Astro.props;
---

<section id="skills" class="text-center pt-5 mb-5">
  <h2 class="mt-4 text-domine">Habilidades</h2>
  <hr class="mt-0 mb-0 title-line" />
  <div class="mt-4">
    <div class="container" id="skill-container"></div>
  </div>
</section>

<script is:inline define:vars={{ skillsList: JSON.stringify(skillsList) }}>
  const printSkills = (arrSkills) => {
    let templateSkills = "";

    // type: '',
    // skills: [{
    //   name: '',
    //   icon: 'fab fa-...'
    // }]

    arrSkills.forEach(({ type, skills }) => {
      templateSkills += `
        <div class="my-5">
          <h3 class="text-domine">${type}</h3>
          <div class="row justify-content-center align-items-center">
          ${skills.map(
            ({ icon, label }) =>
              `<div class="col col-md-3 p-0">
              <div class="px-2 m-4 m-md-3 pad-border d-flex flex-column justify-content-center align-items-center">
                <i class="${icon} icon-lg"></i>
                <span class="font-weight-bold">${label}</span>
              </div>
            </div>`,
          )}
          </div>
        </div>`;
    });
    return templateSkills.replace(/,/gi, "");
  };
  const contSkills = document.querySelector("#skill-container");

  contSkills.innerHTML = printSkills(JSON.parse(skillsList));
</script>
